{% extends 'base.html' %}
{% block content %}
<div class="container">
        <form action="{% url 'articles:create' %}"  style="margin-top:60px;">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" id="title" placeholder="제목을 입력하세요">
            </div>
            <div class="form-group">
                <label for="contents">Contents</label>
                <textarea rows="5" name="contents" class="form-control" id="contents"></textarea>
            </div>
            <div class="form-group">
                <label for="creator">Creator</label>
                <input type="text" name="creator" class="form-control" id="creator" placeholder="작성자를 입력하세요">
            </div>
            <button type="submit" class="btn btn-primary">작성하기</button>
        </form>
    </div>
{% endblock %}