{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<style>
.container {
    padding-right: 10em !important;
    padding-left: 10em !important;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <form action="{% url 'articles' %}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
            <div class="card-body">
                <textarea name="contents" class="form-control" rows="5"></textarea>
                <input placeholder="Insert HashTag"  class="form-control mt-3" type="text" name="hashtag">
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input multiple name="image" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <input type="submit" class="btn btn-success" value="작성하기">
            </div>
        </form>
    </div>
</div>

<div class="container">
    {% for article in articles %}
    <div class="row mt-4">
        <div class="card col-12">
            {% if article.article_images %}
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for image in article.article_images %}
                    <div class="carousel-item {%if image.image_thumbnail.url == article.article_images.first.image_thumbnail.url%}active{% endif %}">
                        <img src="{{image.image_thumbnail.url}}" class="d-block w-100" alt="...">
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            {% endif %}
            <div class="card-body">
                <div class="article" style="min-height: 9rem;">
                    <p class="card-text">{{article.contents}}</p>
                    {% for tag in article.tags.all %}
                    <span class="badge badge-pill badge-info">#{{tag.tag}}</span>
                    {% endfor %}
                </div>
                <div class ="text-center float-right">
                    <div class="row">
                        <span class="text-muted"> created by {{article.user.username}}</span>
                    </div>
                </div>
               
                <div class="text-center">
                        {% if user in article.user_likes.all %}
                        <button type="button" class="btn btn-success likes" data-article-id="{{article.id}}"><i class="fas fa-thumbs-up">{{article.user_likes.count}}</i></button>
                        {% else %}
                        <button type="button" class="btn btn-secondary likes" data-article-id="{{article.id}}"><i class="fas fa-thumbs-up">{{article.user_likes.count}}</i></button>
                        {% endif %}
                        {% if article.user_id == user.id %}
                        <a href="{% url 'edit' article.id %}" class="btn btn-warning text-white"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'delete' article.id %}" class="btn btn-danger text-white"><i class="fas fa-trash-alt"></i></a>
                        {% endif %}
                    </div>
            </div>
            <ul class="list-group list-group-flush" id="comment-list-group-{{article.id}}">                
                <li class="list-group-item" >
                    <form action="{% url 'comments' %}" method="POST" class="commentForm" id="commentForm-{{article.id}}">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                        <input type="hidden" class="articleId" name="article_id" value="{{article.id}}">
                        <input type="hidden" class="formMethod" name="form_method" value="create">
                        <input type="hidden" class="commentId" name="comment_id">
                        <div class="row">
                            <div class="col-9">
                                <input type="text" class="form-control commentInput" name="contents" class="commentInput">
                            </div>
                            <div class="col-3 text-center">
                                <input type="submit" class="btn btn-primary" value="쓰기">
                            </div>
                        </div>
                    </form>
                </li>


                <div class="commentList">
                    <ul class="list-group">
                            {% for comment in article.comments %}
                            <li class="list-group-item" id="comment-{{comment.id}}">
                                <i class="fas fa-comment-dots"></i> 
                                <span>{{comment.user.username}} - </span><span class="contents">{{comment.contents}}</span>
                                <span class="float-right">
                                    {% if comment.user.id == user.id %}
                                    <button data-contents="{{comment.contents}}" data-article-id="{{article.id}}" data-id="{{comment.id}}" class="btn btn-warning text-white editComment"><i class="fas fa-edit"></i></a>
                                    <button data-id="{{comment.id}}" class="btn btn-danger text-white deleteComment"><i class="fas fa-trash-alt"></i></a>
                                    {% endif %}
                                    </span> 
                            </li>
                            {% endfor %}
                    </ul>
                </div>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
 

    $(function(){
    // 내가 짜야 할 js code
    // create comment
    // form으로부터 내용을 받아서 코멘트를 작성한다.(DB에도 반영함)
    // article 별로 있는 form으로부터 
    
    // submit이라는 이벤트에

        $('.likes').on('click', function(){
            console.log($(this));
            var article_id = $(this).data('article-id');
            var button = $(this);
            console.log(article_id);
            $.ajax({
                url: '{% url "likes" %}',
                method: 'POST',
                data: {
                    article_id: article_id,
                    csrfmiddlewaretoken: '{{csrf_token}}',
                },
                success: function(data){
                    console.log(data);
                    button.toggleClass(['btn-secondary', 'btn-success']);
                },
                error: function(data){
                    console.log("실패!");
                }
            })
        })


        $('.commentForm').on('submit', function(e) {
            e.preventDefault();
            console.log("done");
            // 해당 form에 있는 input 중에서 텍스트를 입력한 인풋으로부터 
            //$(this).find('input'); //현재 있는 element의 자식 중에서 이 셀렉터가 ㅇㅆ는지 찾는 것
            // var contents= $(this).find('input.commentInput').val();
            
            // 입력을 받아서 creqte comment 역할을 하는 url로 요청을 보낸다.

            //어떤 article에 대한 댓글인지 알아야 함 
            // var id = $(this).find('input.articleId').val();
            // var method = $(this).find('input.formMethod').val();

            console.log($(this).serialize());
            var data = $(this).serialize();
            $(this).find('input.commentInput').val('');
            $('#commentForm-'+data.article_id+' .formMethod').val("create");
            $.ajax({
                url:'{% url "comments" %}',
                method:'POST',
                data:data,
                success:function(data){
                    if(data.method=="edit"){
                        $('#commentForm-'+data.article_id+' .formMethod').val("create");
                        $('#comment-'+data.comment_id+' .contents').text(data.comment);
                        $('#comment-'+data.comment_id+' .editComment').data('contents', data.content);
                    }else{
                        console.log("성공!");
                        console.log(data);
                        var comment = `
                        <li class="list-group-item" id="comment-${data.comment_id}">
                            <i class="fas fa-comment-dots"></i> 
                            <span>${data.username} - </span><span class="contents">${data.comment}</span>
                            <span class="float-right">
                               <button data-contents="${data.comment}" data-article-id="${data.article_id}" data-id="${data.comment_id}" class="btn btn-warning text-white editComment"><i class="fas fa-edit"></i></a>
                               <button data-id="${data.comment_id}" class="btn btn-danger text-white deleteComment" id="comment-${data.comment_id}"><i class="fas fa-trash-alt"></i></a>
                            </span> 
                        </li>
                        `
                    
                        $('#comment-list-group-'+data.article_id).append(comment);
                    }

                    
                },
                error:function(data){
                    if(data.status==401)
                        location.href='{% url "acounts:login" %}'
                   
                }
            })
        })



    // 정상적인 callback 이 오면 위에서 받아준 텍스트를 바탕으로
    // 새로운 댓글 element를 추가한다. 

    // delete comment
    // 삭제 버튼을 누르면 해당 element가 삭제된다.
    $(document).on('click', '.deleteComment', function(e){
        console.log("click");
        console.log($(this).data());
        var comment_id=$(this).data('id');

        $.ajax({
            url:'{% url "delete_comment" %}',
            method:'POST',
            data:{
                comment_id:comment_id,
                csrfmiddlewaretoken:"{{csrf_token}}"
            },
            success:function(data){
                console.log("성공!");
                $('#comment-'+comment_id).remove();
            },
            error:function(data){
                console.log(data);
                if(data.status==403) location.href="{% url 'acounts:login' %}";
                console.log("실패!");
            }
        })
    })
    //삭제 버튼을 찾는다.
    //삭제 버튼에 click 이벤틀 먹인다.(리스너와 핸들러)
    // 해당 element가 가지고 있는 유일한 값을 통해
    // 해당 element를 삭제하고 DB에서 삭제될 수 있도록 서버에 요청
    //요청이 정상적으로 처리되면 해당 element 삭제 



    // update comment
    //기존에 있던 내용을 해당 댓글을 다는 
    //내용을 바꾸고 실제로 DB에 반영함.
    $(document).on('click', '.editComment', function(){
        var contents = $(this).data("contents");
        var article_id = $(this).data("article-id")
        console.log(contents);
        console.log(article_id);
        //form에서 input을 찾아내는 방식
        var comment_id = $(this).data("id");
        $('#commentForm-'+article_id+' .commentInput').val(contents)
        $('#commentForm-'+article_id+' .formMethod').val("edit")
        $('#commentForm-'+article_id+' .commentId').val(comment_id)
    })
    //edit 버튼을 누르면
    //해당 댓글이 가지고 있던 내용을
    //입력창으로 이동시키고
    //바뀐 내용을 submit하면, 
    //실제 서버에 반영시키고 
    //바뀐 내용으로 해당 댓글을 변경
    })
</script>
{% endblock %}